#include "kernel.h"
#include "lwipopts.h"
#include "arch/sys_arch.h"
CRE_TSK(LWIP_SYS_TASK1 , { TA_ACT, 0, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK2 , { TA_ACT, 1, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK3 , { TA_ACT, 2, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK4 , { TA_ACT, 3, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK5 , { TA_ACT, 4, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK6 , { TA_ACT, 5, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK7 , { TA_ACT, 6, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK8 , { TA_ACT, 7, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK9 , { TA_ACT, 8, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK10, { TA_ACT, 9, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });

CRE_MTX(LWIP_SYS_MTX1,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX2,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX3,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX4,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX5,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX6,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX7,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX8,{TA_CEILING,TMIN_TPRI});

CRE_DTQ(LWIP_SYS_DTQ1,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ2,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ3,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ4,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ5,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ6,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ7,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ8,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});

/*各種排他制御*/
CRE_MTX(LWIP_SYS_MTX_SYSTEM,{TA_CEILING,TMIN_TPRI});

/*OpenRTM std::thread用*/
CRE_MTX(OPEN_RTM_THREAD_MTX,{TA_CEILING,TMIN_TPRI});

/*OpenRTM LWIP共用セマフォ*/
CRE_SEM(LWIP_SYS_SEM1,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM2,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM3,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM4,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM5,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM6,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM7,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM8,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM9,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM10,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM11,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM12,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM13,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM14,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM15,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM16,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM17,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM18,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM19,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM20,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM21,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM22,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM23,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM24,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM25,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM26,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM27,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM28,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM29,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM30,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM31,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM32,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM33,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM34,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM35,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM36,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM37,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM38,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM39,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM40,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM41,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM42,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM43,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM44,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM45,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM46,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM47,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM48,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM49,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM50,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM51,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM52,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM53,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM54,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM55,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM56,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM57,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM58,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM59,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM60,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM61,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM62,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM63,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM64,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM65,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM66,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM67,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM68,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM69,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM70,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM71,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM72,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM73,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM74,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM75,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM76,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM77,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM78,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM79,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM80,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM81,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM82,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM83,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM84,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM85,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM86,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM87,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM88,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM89,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM90,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM91,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM92,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM93,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM94,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM95,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM96,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM97,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM98,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM99,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM100,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM101,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM102,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM103,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM104,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM105,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM106,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM107,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM108,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM109,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM110,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM111,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM112,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM113,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM114,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM115,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM116,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM117,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM118,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM119,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM120,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM121,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM122,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM123,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM124,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM125,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM126,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM127,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM128,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM129,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM130,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM131,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM132,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM133,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM134,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM135,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM136,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM137,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM138,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM139,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM140,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM141,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM142,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM143,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM144,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM145,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM146,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM147,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM148,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM149,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM150,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM151,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM152,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM153,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM154,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM155,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM156,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM157,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM158,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM159,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM160,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM161,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM162,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM163,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM164,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM165,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM166,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM167,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM168,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM169,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM170,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM171,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM172,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM173,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM174,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM175,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM176,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM177,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM178,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM179,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM180,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM181,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM182,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM183,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM184,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM185,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM186,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM187,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM188,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM189,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM190,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM191,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM192,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM193,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM194,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM195,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM196,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM197,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM198,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM199,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM200,{TA_NULL,1,1});

