#include "kernel.h"
#include "lwipopts.h"
#include "arch/sys_arch.h"
CRE_TSK(LWIP_SYS_TASK1 , { TA_ACT, 0, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK2 , { TA_ACT, 1, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK3 , { TA_ACT, 2, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK4 , { TA_ACT, 3, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK5 , { TA_ACT, 4, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK6 , { TA_ACT, 5, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK7 , { TA_ACT, 6, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK8 , { TA_ACT, 7, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK9 , { TA_ACT, 8, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(LWIP_SYS_TASK10, { TA_ACT, 9, lwip_task, MID_PRIORITY, STACK_SIZE, NULL });

CRE_SEM(LWIP_SYS_SEM1,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM2,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM3,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM4,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM5,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM6,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM7,{TA_NULL,1,1});
CRE_SEM(LWIP_SYS_SEM8,{TA_NULL,1,1});

CRE_MTX(LWIP_SYS_MTX1,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX2,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX3,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX4,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX5,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX6,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX7,{TA_CEILING,TMIN_TPRI});
CRE_MTX(LWIP_SYS_MTX8,{TA_CEILING,TMIN_TPRI});

CRE_DTQ(LWIP_SYS_DTQ1,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ2,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ3,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ4,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ5,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ6,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ7,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});
CRE_DTQ(LWIP_SYS_DTQ8,{TA_TPRI,DEFAULT_MBOX_SIZE,NULL});

/*OpenRTM std::thread用*/
CRE_MTX(OPEN_RTM_THREAD_MTX,{TA_CEILING,TMIN_TPRI});